<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.servenep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServeNep"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Menu_Activity"
            android:exported="true"
            android:label="@string/title_activity_home_menu"
            android:theme="@style/Theme.ServeNep.NoActionBar">

        </activity>
        <activity android:name=".UI.TaskerRecyclerViewActivity" />
        <activity
            android:name=".UI.RegisterActivity"
            tools:ignore="IntentFilterExportedReceiver">

        </activity>
        <activity android:name=".UI.TaskerProfileActivity" />
        <activity android:name=".UI.TaskerBookingActivity" />
        <activity android:name=".UI.JobNotificationActivity" />
        <activity
            android:name=".Adapter.TaskerAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".UI.TaskDescriptionActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.MainActivity" />
    </application>

</manifest>